USE [master]
GO
/****** Object:  Database [SocialNetwork]    Script Date: 12/14/2023 11:38:08 AM ******/
CREATE DATABASE [SocialNetwork]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SocialNetwork', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SocialNetwork.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SocialNetwork_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SocialNetwork_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SocialNetwork].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SocialNetwork]
GO
USE [SocialNetwork]
GO
/****** Object:  Sequence [dbo].[art_sequence]    Script Date: 12/14/2023 11:38:09 AM ******/
CREATE SEQUENCE [dbo].[art_sequence] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [SocialNetwork]
GO
/****** Object:  Sequence [dbo].[hibernate_sequence]    Script Date: 12/14/2023 11:38:09 AM ******/
CREATE SEQUENCE [dbo].[hibernate_sequence] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[Article]    Script Date: 12/14/2023 11:38:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [varchar](50) NULL,
	[Likes] [int] NULL,
	[Time] [datetime] NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 12/14/2023 11:38:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[UserID] [bigint] NOT NULL,
	[ArticleID] [bigint] NOT NULL,
	[Comment] [nvarchar](500) NOT NULL,
	[id] [bigint] NOT NULL,
	[Time] [datetime] NULL,
	[Image] [varchar](50) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friend]    Script Date: 12/14/2023 11:38:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friend](
	[receiver] [bigint] NOT NULL,
	[sender] [bigint] NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Follow] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Like]    Script Date: 12/14/2023 11:38:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Like](
	[UserID] [bigint] NOT NULL,
	[ArticleID] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 12/14/2023 11:38:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[usersend] [bigint] NOT NULL,
	[userreceive] [bigint] NOT NULL,
	[message] [nvarchar](500) NOT NULL,
	[id] [bigint] NOT NULL,
	[Time] [datetime] NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 12/14/2023 11:38:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[notif] [nvarchar](50) NULL,
	[sender] [bigint] NULL,
	[receiver] [bigint] NULL,
	[Time] [datetime] NULL,
	[article] [bigint] NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/14/2023 11:38:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [bigint] NOT NULL,
	[Name] [nvarchar](500) NULL,
	[phone_number] [char](12) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[Password] [nvarchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Article] ([ArticleID], [UserID], [Description], [Image], [Likes], [Time]) VALUES (6, 2, N'Tieu de 1', N'1699266299718.jpg', 3, CAST(N'2023-11-03T15:28:39.773' AS DateTime))
INSERT [dbo].[Article] ([ArticleID], [UserID], [Description], [Image], [Likes], [Time]) VALUES (11, 1, N'Lại là Tèo', N'1701870197317.jpg', 2, CAST(N'2023-11-28T21:14:34.337' AS DateTime))
INSERT [dbo].[Article] ([ArticleID], [UserID], [Description], [Image], [Likes], [Time]) VALUES (12, 1, N'Gau sieu to khong lo', N'1701180889645.jpg', 1, CAST(N'2023-11-28T21:14:50.960' AS DateTime))
GO
INSERT [dbo].[Comment] ([UserID], [ArticleID], [Comment], [id], [Time], [Image]) VALUES (1, 6, N'Tèo ', 12, CAST(N'2023-12-04T00:34:57.673' AS DateTime), NULL)
INSERT [dbo].[Comment] ([UserID], [ArticleID], [Comment], [id], [Time], [Image]) VALUES (2, 6, N'', 13, CAST(N'2023-12-06T20:34:20.983' AS DateTime), N'1701869659182.jpg')
INSERT [dbo].[Comment] ([UserID], [ArticleID], [Comment], [id], [Time], [Image]) VALUES (10, 6, N'Hình đẹp z', 14, CAST(N'2023-12-06T20:56:43.483' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Friend] ON 

INSERT [dbo].[Friend] ([receiver], [sender], [id], [status]) VALUES (3, 1, 2, 0)
INSERT [dbo].[Friend] ([receiver], [sender], [id], [status]) VALUES (2, 1, 11, 1)
INSERT [dbo].[Friend] ([receiver], [sender], [id], [status]) VALUES (1, 15, 12, 1)
SET IDENTITY_INSERT [dbo].[Friend] OFF
GO
INSERT [dbo].[Like] ([UserID], [ArticleID]) VALUES (1, 6)
INSERT [dbo].[Like] ([UserID], [ArticleID]) VALUES (1, 14)
INSERT [dbo].[Like] ([UserID], [ArticleID]) VALUES (2, 23)
GO
INSERT [dbo].[Message] ([usersend], [userreceive], [message], [id], [Time]) VALUES (1, 2, N'Hello', 1, CAST(N'2023-11-03T15:26:18.493' AS DateTime))
INSERT [dbo].[Message] ([usersend], [userreceive], [message], [id], [Time]) VALUES (2, 1, N'Ban', 2, CAST(N'2023-11-03T15:26:18.493' AS DateTime))
INSERT [dbo].[Message] ([usersend], [userreceive], [message], [id], [Time]) VALUES (3, 1, N'Nhe', 3, CAST(N'2023-11-03T15:26:18.493' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([id], [notif], [sender], [receiver], [Time], [article], [Type]) VALUES (2, N'Teo đã like bài viết của bạn', 1, 2, CAST(N'2023-11-28T17:58:21.723' AS DateTime), 6, 1)
INSERT [dbo].[Notification] ([id], [notif], [sender], [receiver], [Time], [article], [Type]) VALUES (4, N'Teo đã like bài viết của bạn', 1, 2, CAST(N'2023-11-28T18:03:41.310' AS DateTime), 6, 1)
INSERT [dbo].[Notification] ([id], [notif], [sender], [receiver], [Time], [article], [Type]) VALUES (5, N'Tí đã like bài viết của bạn', 2, 1, CAST(N'2023-11-30T15:14:38.143' AS DateTime), 14, 1)
GO
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
INSERT [dbo].[User] ([UserID], [Name], [phone_number], [Image], [Password], [Active]) VALUES (1, N'Nguyễn Văn Tèo', N'0963094408  ', N'1701882161113.jpg', N'1234', 1)
INSERT [dbo].[User] ([UserID], [Name], [phone_number], [Image], [Password], [Active]) VALUES (2, N'T1 Con', N'0963094409  ', N'1701858765278.jpg', N'1254', 1)
INSERT [dbo].[User] ([UserID], [Name], [phone_number], [Image], [Password], [Active]) VALUES (3, N'Pham Ngoc Thach', N'0909855059  ', N'1699115835337.jpg', N'1234', 1)
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_Article_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_Article_User]
GO
ALTER TABLE [dbo].[Friend]  WITH CHECK ADD  CONSTRAINT [FK_Friend_User] FOREIGN KEY([receiver])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Friend] CHECK CONSTRAINT [FK_Friend_User]
GO
ALTER TABLE [dbo].[Friend]  WITH CHECK ADD  CONSTRAINT [FK_Friend_User1] FOREIGN KEY([sender])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Friend] CHECK CONSTRAINT [FK_Friend_User1]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_Article] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Article] ([ArticleID])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK_Like_Article]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK_Like_User]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_User] FOREIGN KEY([usersend])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_User]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_User1] FOREIGN KEY([userreceive])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_User1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User]
GO
USE [master]
GO
